name: Export add-on to Crowdin

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repository name'
        required: true
      update:
        description: 'true to update preexisting sources, false to add them from scratch'
        type: boolean

  workflow_call:
    inputs:
      repo:
        description: 'Repository name'
        type: 'string'
        required: true
      update:
        description: 'true to update preexisting sources, false to add them from scratch'
        type: boolean
        required: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout add-on
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install scons markdown
          sudo apt update
          sudo apt install gettext
      - name: Build add-on and pot file
        run: |
          scons
          scons pot
  exportToCrowdin:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Generate xliff
        if: ${{ !inputs.update }}
        run: |
          uv run ./_l10n/markdownTranslate.py generateXliff -m readme.md -o inputs.repo }}.xliff
      - name: update xliff
        if: ${{ inputs.update }}
        run: |
          uv run ./_l10n/markdownTranslate.py updateXliff -x ${{ inputs.repo }}.xliff -m ${{ inputs.repo }}.md -o ${{ inputs.repo }}.xliff.temp
          mv ${{ inputs.repo }}.xliff.temp ${{ inputs.repo }}.xliff
          fi
      - name: Upload to Crowdin
        if: ${{ !inputs.update }}
        run: |
          uv run ./_l10n/l10nUtil.py uploadSourceFile --localFilePath=${{ inputs.repo}}.xliff
          uv run ./_l10n/l10nUtil.py uploadSourceFile --localFilePath=${{ inputs.repo}}.pot
        env:
          crowdinProjectID: ${{ vars.CROWDIN_ID }}
          crowdinAuthToken: ${{ secrets.CROWDIN_TOKEN }}
      - name: Update sources
        if: ${{ inputs.update }}
        run: |
          uv run ./_l10n/crowdinSync.py uploadSourceFile ${{ inputs.repo }}.pot
          uv run ./_l10n/crowdinSync.py uploadSourceFile ${{ inputs.repo }}.xliff
        env:
          crowdinProjectID: ${{ vars.CROWDIN_ID }}
          crowdinAuthToken: ${{ secrets.CROWDIN_TOKEN }}
      - name: Commit and push json file
        id: commit
        run: |
          git config --local user.name github-actions
          git config --local user.email github-actions@github.com
          git status
          git add _l10n/l10n.json
          if git diff --staged --quiet; then
          echo "Nothing added to commit."
          echo "has_changes=false" >> $GITHUB_OUTPUT
          else
          echo "has_changes=true" >> $GITHUB_OUTPUT
          git commit -m "Update Crowdin file ids"
          git push
          fi
